@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

html {
  font-size: 62.5%;
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.6rem;
  background-color: #fafafa;
}

.wrapper {
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
}

.header {
  background-color: #ffffff;
  border-bottom: 1px solid #eeeeee;
}

.headerDetails {
  display: flex;
  justify-content: space-between;
  padding: 4rem 0;

  h1 {
    font-weight: bold;
  }

  .darkMode {
    display: flex;
    justify-content: space-between;

    .faMoon {
      margin-right: 0.5rem;
    }
  }
}

.input {
  display: block;
  width: 100%;
  margin: 2rem 0;
  padding: 1.5rem;
  outline: none;
  border: 2px solid #eeeeee;
  font-size: 1.8rem;
  font-family: "Nunito Sans", sans-serif;
  border-radius: 5px;
  color: #999999;
}

select {
  padding: 1.5rem 1.2rem;
  width: 60%;
  outline: none;
  border: 2px solid #eeeeee;
  font-family: "Nunito Sans", sans-serif;
  border-radius: 5px;
  color: #999999;
  font-size: 1.8rem;
}

.displayContainer {
  margin-top: 5rem;
  padding: 0 4rem;
  width: 80%;
}
.img {
  width: 100%;
}
